header {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 80px;
}

h1

.search {
    background-color: white;
    
}

.btn {
    text-decoration: none;
    border: none;
    background-color: cadetblue;
    color: whitesmoke;
}

.history

.city {
    background-color: white;
}

.forecast {
    background-color: white;
    text-align: center;
    display: flex;
    position: relative;
    left: 400px;
}

.border-style {
    border: solid black 5px;
    margin: 5px;
    padding: 10px;
}

/* propety for search 
.search:hover {
    
}
*/